
<ion-header>
  <ion-navbar>
    <ion-title>senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="formGroup" (ngSubmit)="enviar(); $event.preventDefault()">
    
    <ion-item>
      <ion-label stacked>Nova senha:</ion-label>
      <ion-input formControlName="novaSenha" type="password"></ion-input>
    </ion-item>
    <p class="danger" 
       *ngIf="formGroup.controls.novaSenha.dirty && formGroup.controls.novaSenha.errors" 
       margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>Confirma senha:</ion-label>
      <ion-input formControlName="confirmaSenha" type="password"></ion-input>
    </ion-item>
    <p class="danger" 
       *ngIf="formGroup.controls.confirmaSenha.dirty && formGroup.controls.confirmaSenha.errors" 
       margin-left>Valor inválido</p>
  
    <button ion-button block type="submit" 
           [disabled]="formGroup.invalid">Enviar</button>

  </form>

</ion-content>
